:root {
  --primary-red: #e53935;
  --secondary-red: #f44336;
  
  /* Light Theme */
  --light-bg: #f5f5f5;
  --light-text: #121212;
  --light-card-bg: #ffffff;
  --light-border: #e0e0e0;

  /* Dark Theme */
  --dark-bg: #121212;
  --dark-text: #e0e0e0;
  --dark-card-bg: #1e1e1e;
  --dark-border: #2e2e2e;
}

body {
  transition: background-color 0.3s, color 0.3s;
}

.light-theme {
  background-color: var(--light-bg);
  color: var(--light-text);
  --lang-selector-bg: var(--light-bg);
  --lang-selector-text: var(--light-text);
  --lang-selector-border: var(--light-border);
}

.dark-theme {
  background-color: var(--dark-bg);
  color: var(--dark-text);
  --lang-selector-bg: var(--dark-bg);
  --lang-selector-text: var(--dark-text);
  --lang-selector-border: var(--dark-border);
}

.section {
    padding: 80px 0;
    position: relative;
    /* border-bottom: 1px solid var(--light-border); */
}

.section::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 50px; /* Adjust height of the curve */
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.light-theme .section::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23f5f5f5' fill-opacity='1' d='M0,160L1440,288L1440,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
}

.dark-theme .section {
    /* border-bottom: 1px solid var(--dark-border); */
}

.dark-theme .section::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23121212' fill-opacity='1' d='M0,160L1440,288L1440,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
}

.card-custom {
    background-color: var(--light-card-bg);
    border: 1px solid var(--light-border);
    border-radius: 12px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.dark-theme .card-custom {
    background-color: var(--dark-card-bg);
    border: 1px solid var(--dark-border);
}

.card-custom:hover {
    transform: translateY(-10px);
    border-color: var(--primary-red);
    box-shadow: 0 15px 50px rgba(229, 57, 53, 0.2);
}